#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

menu "Motor Driver Support"
rsource "drivers/motor/Kconfig"
endmenu


module = COAP_SERVER
module-str = CoAP server
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

module = OT_COAP_UTILS
module-str = OpenThread CoAP utils
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

module = DISPLAY_LVGL
module-str = Display LVGL and others
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

config LOKI_MOTOR1PIN
	int "Pin for Motor controller IN1."
	default 13
	range 0 31

config LOKI_MOTOR2PIN
	int "Pin for Motor controller IN2."
	default 15
	range 0 31

config LOKI_MOTOR0PIN
	int "Spare pin for Motor controller."
	default 14
	range 0 31

config LVGL_DISPLAY_UPDATE_PERIOD_MS
	int "Display update period in milliseconds"
	default 0
	range 0 10000
	help
	  This option sets the period for updating the display in milliseconds.
	  A lower value will result in more frequent updates, while a higher value
	  will reduce the update frequency.


menu "Application settings"

config CLEAR_SETTINGS_NEW_BUILD
    bool "Clear settings on new build"
    default n
    help
      Clear NVS settings when the firmware build number changes.

config CLEAR_SETTINGS_NEW_VERSION
    bool "Clear settings on new version"
    default n
    help
      Clear NVS settings when major or minor firmware version changes.

endmenu
